<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Clover23</title>
    <meta name="description" content="Clover23 is a simple PHP application inspired by TravelCar">
    <meta name="author" content="Maxime MARMONT">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../../public/css/bootstrap3.css">
    <link rel="stylesheet" href="../../public/css/global.css">
    <script src="../../public/js/jquery-3.3.1.min.js"></script>
    <script src="../../public/js/bootstrap3.min.js"></script>
</head>
<body>

